.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #132d46;
  color: #fff;
  padding: 10px 20px;
}

.left {
  display: flex;
  width: auto;
}

.right {
  width: auto;
  display: flex;
}

.right button {
  border-radius: 8px;
  border: 1px solid #fff; 
  margin: 0px 10px;
  padding: 10px 15px;
  background-color: #132d46;
  color: #fff;
  transition: 0.2s ease all;
  font-size: 14px;
}

.right button:hover {
  transform: scale(1.08);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 1px;
  background-color: #fff;
  margin: 4px;
  transition: transform 0.3s ease;
}

.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .show {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0px;
    background: #132d46;
    padding: 10px;
    animation: slideToRight 0.5s forwards;
  }

  .right.show button {
    width: 100%;
    margin: 8px 0;
  }
}

@keyframes slideToRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}