body {
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap") -webkit-font-smoothing:
    antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans 3", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #032541;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

