.main {
  position: relative;
  width: 90%;
  margin: auto;
  height: 65vh;
  padding: 10px 0px;
  padding-bottom: 0px;
}

.bgimg {
  width: 100%;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(70%);
  object-fit: cover;
}

.message {
  text-align: left;
  align-items: center;
  margin-top: 80px;
  padding-left: 140px;
  z-index: 1;
}

.message h1 {
  font-size: 4vh;
  color: #fff;
}

.message h2 {
  font-size: 3vh;
  color: #fff;
}

.search {
  padding: 10px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  margin: auto;
  display: flex;
}

.search input[type="text"] {
  width: 80%;
  padding: 12px 10px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.search button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.wave {
  width: 100%;
}

.trend{
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 120px;
}

.trend h2{
  font-size: 2vh;
}
.label{
  display: flex;
}

.cardctn{
  max-width: 100%;
  width: 90%;
  height: auto;
  gap: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  background: #000;
}

.card{
  width: 30vh;
  height: 40vh;
  background: #fff;
  border-radius: 12px;
  margin: auto;
  padding: 12px;
}


@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: auto;
  }
  .message {
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
  }

  .message h2 {
    font-size: 2.5vh;
  }
  .bgimg {
    height: 110%;
  }
  .wave {
    position: absolute;
    bottom: 20px;
    z-index: -1;
  }
  .trend{
    padding: 30px;
  }
  .cardctn{
    padding: 10px;
    overflow-x: scroll;
  }
  .card{
    width: 250px;
    height: 300px;
  }

}
