.main {
  position: relative;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 10px 0px;
  background: #03254198;
  padding-bottom: 0px;
}

.bgimg {
  width: 100%;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.message {
  text-align: left;
  align-items: center;
  margin-top: 80px;
  padding-left: 140px;
  z-index: 1;
}

.message h1 {
  font-size: 4vh;
  color: #fff;
}

.message h2 {
  font-size: 3vh;
  color: #fff;
}

.search {
  padding: 10px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  margin: auto;
  display: flex;
}

.search input[type="text"] {
  width: 80%;
  padding: 12px 10px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.search button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.wave {
  width: 100%;
}

.trend {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px 120px;
}

.trend h2 {
  font-size: 2vh;
  font-weight: 400;
}

.label {
  align-items: center;
  display: flex;
}

.label ul {
  gap: 15px;
  border-radius: 24px;
  background-color: #e0e0e0;
  display: flex;
  list-style-type: none;
  padding:10px  11px;
}

.label li {
  text-align: center;
  align-items: center;
  width: auto;
  transition: 0.3s ease all;
  display: flex;
  text-decoration: none;
  padding: 0px 20px;
  border-radius: 16px;
  background: none;
  transition:  0.3s ease all;
  color: #032541;
  font-size: 16px;
}

.label li:hover {
  transition: 0.3s ease all;
  cursor: pointer;
}

.label li.active {
  transition: 0.3s ease all;
  box-shadow: 0px 0px 0px 10px #032541;
  background: #032541;
  color: #fff;
}

.cardctn {
  max-width: 90%;
  width: 100%;
  height: auto;
  margin: auto;
  overflow-x: scroll;
  display: flex;
  gap: 30px;
  padding: 20px 20px;
  margin-bottom: 20px;
}


.cardctnbg{
  display: flex;
  scroll-behavior: smooth;
  align-items:end;
  padding: 0px;
  width: 100%;
  height: auto;
}

.cardctnbg img{
  width: 90%;
  object-fit: cover;
  position: absolute;
}

.card {
  min-width: 30vh;
  height: 40vh;
  background: #000;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin: auto;
  transition: 0.3s ease all;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.card .desc {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  width: 100%;

  background: #03254196;
  color: #fff;
  padding: 1px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  object-position: center;
  border-radius: 12px;
}

.card .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vh;
  left: 4vh;
  transform: translateX(-50%);
  width: 5vh;
  height: 5vh;
  background-color: rgba(255, 255, 255, 0.219);
  color: #fff;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


/* For smaller screen */
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: auto;
  }
  .message {
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
  }

  .message h2 {
    font-size: 2.5vh;
  }
  .bgimg {
    height: 100%;
  }
  .wave {
    position: absolute;
    bottom: 20px;
    z-index: -1;
  }
  .trend {
    padding: 0px 20px;
  }
  .label{
    width: 100%;
    gap: 2px;
  }
  .label li{
    padding: 2px;
  }
  .cardctn {
    padding: 10px 0px;
    gap: 10px;
    width: 100%;
  }
  .card {
    min-width: 40%;
    height: auto;
    margin: 10px;
  }
  .cardctn::-webkit-scrollbar {
    width: 10vw; 
  }
  .cardctn::-webkit-scrollbar-thumb {
    background: #032541; 
    border-radius: 5px;
  }
}