.main {
  position: relative;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 10px 0px;
  background: #03254198;
  padding-bottom: 0px;
}

.bgimg {
  width: 100%;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.message {
  text-align: left;
  align-items: center;
  margin-top: 80px;
  z-index: 1;
}

.message h1 {
  font-size: 4vh;
  text-align: left;
  margin-left: 10%;
  color: #fff;
}

.message h2 {
  width: 70%;
  text-align: left;
  text-wrap: balance;
  margin-left: 10%;
  font-size: 3vh;
  color: #fff;
}

.search {
  padding: 10px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  margin: auto;
  display: flex;
}

.search input[type="text"] {
  width: 80%;
  padding: 12px 10px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.search button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.wave {
  width: 100%;
}

.trend {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px 120px;
}

.trend h2 {
  font-size: 2vh;
  font-weight: 400;
}

.label {
  align-items: center;
  display: flex;
}

.label ul {
  gap: 15px;
  border-radius: 24px;
  background-color: #e0e0e0;
  display: flex;
  list-style-type: none;
  padding: 10px 11px;
}

.label li {
  text-align: center;
  align-items: center;
  width: auto;
  transition: 0.3s ease all;
  display: flex;
  text-decoration: none;
  padding: 0px 20px;
  border-radius: 16px;
  background: none;
  transition: 0.3s ease all;
  color: #032541;
  font-size: 16px;
}

.label li:hover {
  transition: 0.3s ease all;
  cursor: pointer;
}

.label li.active {
  transition: 0.3s ease all;
  box-shadow: 0px 0px 0px 10px #032541;
  background: #032541;
  color: #fff;
}


.cardctn {
  max-width: 90%;
  width: 90%;
  min-height:42vh;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0px;
  overflow-x: auto;
  margin-bottom: 30px;
}

.cardctnbg {
  margin: auto;
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: center;
  min-height: 29vh;
}

.cardctnbg img {
  position: absolute;
  right: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}



.card {
  min-width: 30vh;
  height: 40vh;
  min-height: 26vh;
  border-radius: 12px;
  position: relative;
  scroll-behavior: smooth;
  overflow: hidden;
  margin: 0px 20px;
  background: #fefefe;
  transition: 0.3s ease all;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.card .desc {
  position: absolute;
  bottom: 0px;
  text-align: center;
  left: 0;
  width: 100%;
  background: #03254196;
  color: #fff;
  padding: 1px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.card .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2vh;
  left: 4vh;
  transform: translateX(-50%);
  width: 5vh;
  height: 5vh;
  color: #fff;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.219);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.trendingPeople {
  max-width: 95%;
  padding: 10px;
  margin: auto;
  min-height: 20vh;
  background: #032541;
  display: flex;
  overflow-x: auto;
  border-radius: 20px;
}

.trendingPeopleCards {
  display: flex;
  transition: 0.3s ease all;
  gap: 30px;
  padding: 10px 0px;
}

.trendingPeopleCard {
  width: 250px;
  height: 370px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s ease all;
  text-align: center;
  overflow: hidden;
}

.trendingPeopleCard:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.trendingPeopleCard img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.personname {
  position: absolute;
  bottom: 0;
  align-content: center;
  width: 100%;
  justify-content: space-around;
  display: flex;
  height: 10%;
  background: #032541da;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}

.personname p {
  margin: 0;
  font-size: 16px;
}

.popularity {
  width: 30px;
  height: 30px;
  padding: 10px;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.219);
  align-items: center;
}



@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: auto;
  }
  .message {
    width: 90%;
    margin-top: 30px;
    padding-left: 20px;
  }

  .message h2 {
    font-size: 2.5vh;
  }

  .bgimg {
    height: 100%;
  }

  .wave {
    position: absolute;
    bottom: 20px;
    z-index: -1;
    height: 100px;
  }

  .trend {
    padding: 0px 20px;
  }

  .label {
    width: 100%;
    gap: 2px;
  }

  .label li {
    padding: 2px;
  }

  .cardctn {
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 0px;
    width: 100%;
    min-height: auto;
    height: auto;
  }

  .card {
    min-width: 45%;
    height: auto;
    margin: auto 10px;
  }

  .card .desc{
    padding: 0px;
  }

  .cardctn::-webkit-scrollbar {
    width: 10vw;
  }
  
  .cardctn::-webkit-scrollbar-thumb {
    background: #032541;
    border-radius: 5px;
  }

  .cardctnbg img{
    height: 100px;
  }

  .trendingPeopleCard {
    width: 150px;
    height: 220px;
  }

  .trendingPeople{
    max-width:  100%;
    width: auto;
    padding: 10px 0px;
    border-radius: 0px;
  }


  .popularity {
    width: 15px;
    height: 15px;
  }
}
